@page
@model PerfectHoliday.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BeginDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BeginDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.ReservationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.ReservationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.NumberOfAdults)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.NumberOfAdults)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.NumberOfKids)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.NumberOfKids)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
